<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <%- include('partials/head') %>
</head>

<body>

<%- include('partials/navbar') %>

<br><br>


<div class="container contain mx-auto">
    <br>
    <h2 class="text-center">Contact Us</h2>

    <br><br>

    <h3>For Students:</h3>
    <hr>
    <p>Call (Operational 9AM-6PM): <b>18008906027, 1800 18000 14/15, 1800 2701280</b>
    <br>  WhatsApp: <b>+917617770113</b>
    <br> For Application Process related queries/ document requests, please write to <b>tpo@geu.ac.in</b></p>
    <br><br>
    <h3>For Companies:</h3>
    <hr>
    <p>For Hiring, please write to <b>rajesh.pokhriyal@geu.ac.in</b></p>
    <br><br>
    <h3>Mailing Address:</h3>
    <hr>
    <p>Graphic Era (Deemed to be University) <br> Bell Road, Clement Town Dehradun, Uttarakhand <br>Telephone: +91-135-2643421, 2642727</p>
    <br><br>
    <div class="text-center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3445.89331542591!2d77.99264815078968!3d30.26862078171205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39092b9451ae8dfd%3A0xf39c46d34a152faa!2sGraphic%20Era%20(Deemed%20to%20be%20University)!5e0!3m2!1sen!2sin!4v1656748632452!5m2!1sen!2sin" width="70%" height="500" style="border:2px solid black;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
</div>

    <div class="container">
        
    </div>
<br><br>


<%- include('partials/footer') %>

<script src="mapjs.min.js"></script>

</body>

</html>