<div style="background-color: #def2f1; padding: 30px">
<!--    <img src="/img/iconCircle.png" style="display: block; margin-left: auto; margin-right: auto;" width="100px" alt="">-->
    <h3 style="text-align: center">The BookTown</h3>
    <p>Dear User,</p>
    <p><%=msg %></p>
    <p>-------</p>
    <p>With Regards,</p>
    <p>TheBookTown</p>
</div>